
<h3>AddCropModal</h3>

<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Add Crop</h2>
    </div>
    <div class="modal-body">
      <div>
		<p>Select your Crop</p>      
      </div>
      <div>
      	Timedate
      </div>
    </div>
    <div class="modal-footer">
      <button>Submit</button>
    </div>
  </div>

</div>



@code {

}
