@{
    for (int i = 1; i <= 2; i++)

                {
                    <ul style="list-style:none">
                        
                        @for(int j=1;j<5;j++){
                            <li style="display:inline;">                            
                                <div style="height: 25px; width: 25px; background-color: #38FF34; 
                                border-radius: 50%;display: inline-block; box-shadow: 0px 0px 8px 3px rgba(120, 179, 119, 0.25); "/>
                                <div>ID- ASH 1001</div>
                                <div style="font-size:2vw; color:grey;">----------------</div>
                            </li>
                        }
                    </ul>
                }
                <br>
}