@page "/"
@using Microsoft.CognitiveServices.Speech
@using Twilio
@using Twilio.Rest.Api.V2010.Account

<PageTitle>Kisaan Pro</PageTitle>
<header>
<div class="Header">
        <img  src="Assets/logo.svg" alt="" data-image-width="161" data-image-height="44">
        <h6 class="LastUpdated"> Last Updated : 15 Jan 22 11:49 am</h6>
        <object data='./Assets/logo.svg' type='image/svg+xml' width='500' height='500' />

      </div>
      </header>
    <section class="SectionStart">
      <div class="MainDashboard">
        <div class="AllNotificationsDiv">
            <MudBadge Content="3" Color="Color.Primary" Overlap=true >
              <MudButton Link="" Variant="Variant.Outlined" >System Status<span>1</span></MudButton>
            </MudBadge>
          <div class="NotificationDiv">
            <MudButton Link="" Variant="Variant.Outlined" >Notifications</MudButton>
            <div class="u-custom-color-6 u-shape u-shape-circle u-shape-1"></div>
          </div>            
          <div class="ServerStatusDiv">
            <MudButton Link="" Variant="Variant.Outlined" >Server Status</MudButton>
            <div class="u-custom-color-2 u-shape u-shape-circle u-shape-2"></div>
          </div>
        </div>

        <div class="RegisterDeviceDiv">
          
          <MudTextField @bind-Value="TextValue" Label="Enter Device ID to add" Variant="Variant.Filled"></MudTextField>
          <MudButton Link="" Variant="Variant.Outlined" >Register</MudButton>
        
        </div>
        <div class="StausCheckDiv">
            <MudButton Link="" Variant="Variant.Outlined" >Check Your Device Status</MudButton>
            <MudButton Link="" Variant="Variant.Outlined" >solar powered battery<span>80%</span></MudButton>
        </div>
        <div class="StatusShowDiv">

        </div>       

        <div class="GraphAreaDiv">
            <MudButton Link="" Variant="Variant.Outlined" >Temperature</MudButton>
            <MudButton Link="" Variant="Variant.Outlined" >pH level</MudButton>
            <MudButton Link="" Variant="Variant.Outlined" >Humidity</MudButton>
            <div class="GraphsDiv">
                <h2 class="DatatoShow">39 C</h2>        
            </div>
            
        </div>
        
        <div class="RecommendationBoxDiv">
            <MudButton Link="" Variant="Variant.Outlined" >Recommendation Box</MudButton>
            <img class="TtsSpeak" src="Assets/tts.svg" alt="" data-image-width="19" data-image-height="19">
            <div class="Box">
              <div class="BoxText">
                <p class="RecommendationText" spellcheck="false"> Past few days the temperature is above average, hence not suitable for better yeild. According to&nbsp;our  precipitation rate is 10mm/hr.&nbsp;The Water required in the feild would be 20L per 6 Hrs</p>
              </div>
            </div>
        </div>

        <div class="IrrigationDiv">
           <MudButton Variant="Variant.Outlined" >Irrigation Pump Switches</MudButton>
           <MudButton Variant="Variant.Outlined"  Style="width:200px; height:116px;" >Start</MudButton>
           <MudButton Variant="Variant.Outlined" Style="width:200px; height:116px" >Stop</MudButton>
        </div>
      </div>
    </section>

@code{
    public string Time ;
    public string TextValue;
    public void LastUpdateTime(){
        // Reload Features & Functions

        Time = DateTime.Now.ToString("HH:mm:ss tt");
    }

    // TTS Function
    async void TTS(string Text)
    {
        var config = SpeechConfig.FromSubscription("a8064aa14212402a8bd27284fb3d99c3", "centralindia");
        using var synthesizer = new SpeechSynthesizer(config);
        await synthesizer.SpeakTextAsync(Text);

    }

    // Using Messaging Service
    static void MessagingService(String Command, String Number)
    {
        string accountSid = "ACdabe31cf385a7f2499e5bb4705c8c9c5";
        string authToken = "e19cbfc5cf6c0cfc5b49f2c819434b3c";
        TwilioClient.Init(accountSid,authToken);

        var message = MessageResource.Create(
           body: Command!="Stop"?"Start":"Stop",
           from: new Twilio.Types.PhoneNumber("+18063047362"),
           to: new Twilio.Types.PhoneNumber(Number)
       );
        Console.WriteLine(message.Sid);
    }



}